<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	   					   http://www.springframework.org/schema/beans/spring-beans.xsd">
	   					   
	<!-- <bean id="restAuthenticationFilter" class="com.freevice.hw.web.filter.RestAuthenticationFilter">
        <constructor-arg ref="authenticationService"/>
    </bean> -->
    
  

<!--  <bean id="userServiceImpl" class="com.freevice.hw.web.service.impl.UserServiceImpl">
    </bean>
    
     <bean id="userDao" class="com.freevice.hw.web.mongo.dao.UserDao">
     </bean>
		MongoTemplate for connecting and quering the documents in the database
		<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		     <constructor-arg name="mongo" ref="mongo" />
		     <constructor-arg name="databaseName" value="freevice" />
		</bean>
		<bean id="mongo" class="org.springframework.data.mongodb.core.MongoFactoryBean">
	 	   <property name="host" value="localhost" />
	 	   
		</bean> -->

<!-- 
	 <bean id="userController" class="com.freevice.hw.web.controller.UserController">
		<property name="userServiceImpl" ref="userServiceImpl"></property>
	</bean> 

	<bean id="userServiceImpl" class="com.freevice.hw.web.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
	</bean>

	<bean id="userDao" class="com.freevice.hw.web.mongo.dao.UserDao">
		<property name="mongoTemplate" ref="mongoTemplate"></property>
	</bean>
	

	MongoTemplate for connecting and quering the documents in the database
	<bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
		<constructor-arg name="mongo" ref="mongo" />
		<constructor-arg name="databaseName" value="freevice" />
	</bean>
	<bean id="mongo" class="org.springframework.data.mongodb.core.MongoFactoryBean">
		<property name="host" value="localhost" />
		<property name="host" value="192.168.0.102" />
		<property name="host" value="localhost" /> 
	</bean>

    <bean id="restAuthenticationFilter" class="com.freevice.hw.web.filter.RestAuthenticationFilter">
        <constructor-arg ref="authenticationService"/>
    </bean>
    
    <bean id="authenticationService" class="com.freevice.hw.web.service.AuthenticationService">
		<property name="userDao" ref="userDao"></property>
	</bean> -->
</beans>